@import '../constant.scss';

.market.layout {

.layout.header {
  background-image: url('./masthead.jpg');
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  display: none;

  .overlay {
    background: linear-gradient(rgba(0,18,83,0.9), rgba(0,18,83,0.3) 50%, rgba(255,255,255,1) 100%);
    padding: 128px 32px;
  }

  .logo {
    width: 196px;
    height: 196px;
    margin: 0 auto;

    img {
      width: 100%;
      height: 100%;
    }
  }

  h2 {
    text-align: center;
    color: $color-main-background;
    font-size: 24px;
    font-weight: 100;
  }

  .blockchains.list {
    margin: 32px 0;
    padding: 0;
    list-style: none;
    opacity: 0.7;
    text-align: center;

    li {
      margin: 0;
      padding: 0;
      list-style: none;
      display: inline-block;
      margin: 0 2px;

      img {
        width: 24px;
        height: 24px;
      }
    }
  }

  .account.buttons {
    text-align: center;
  }

  .account.button {
    display: inline-block;
    text-decoration: none;
    background: $color-main-highlight;
    box-shadow: 0 0 4px rgba(0,0,0,0.3);
    border-radius: 4px;
    color: $color-main-background;
    font-size: 20px;
    padding: 12px 0;
    width: 144px;
    box-sizing: border-box;
    margin: 16px;
  }

  .external.links {
    margin-top: 64px;
    text-align: center;

    .link {
      color: rgba(0,0,0,0.5);
      text-decoration: none;
      display: inline-block;
      margin: 16px 8px;
    }
  }
}

.layout.nav {
  background-image: url('./masthead.jpg');
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 99;

  .overlay {
    background: linear-gradient(rgba(0,18,83,0.9), rgba(0,18,83,0.6) 100%);
    padding: 8px 32px;
    box-shadow: 0 0 4px rgba(0,18,83,0.6);
    position: relative;
  }

  .logo {
    line-height: 48px;
    margin: 0;

    img {
      width: 64px;
      height: 30px;
      vertical-align: middle;
      padding-bottom: 8px;
    }
  }

  .title {
    margin: 0;
    line-height: 64px;
    display: inline-block;
    color: $color-main-background;
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    font-size: 24px;
    font-weight: 300;
    cursor: pointer;
  }

  .account {
    color: $color-main-background;
    font-size: 24px;
    line-height: 64px;
    display: inline-block;
    position: absolute;
    top: 0;
    right: 32px;

    &.in {
      display: none;
    }
  }
}

.markets.container {
  width: 100%;
  background: $color-main-background;
  box-shadow: 0 2px 2px rgba(0,0,0,0.1);
  padding-top: 32px;
  display: none;
}

.markets.nav {
  position: fixed;
  z-index: 99;
  top: 50%;
  left: 64px;
  margin: 0;
  padding: 0;
  transform: translateY(-50%);
  list-style: none;
  display: none;

  li {
    margin: 16px 0;
    padding: 0;
    opacity: 0.3;

    &.active {
      opacity: 1;
    }

    img {
      width: 16px;
      height: 16px;
    }
  }
}

.markets.block {
  position: relative;
  box-sizing: border-box;
  z-index: 2;
  padding: 64px 32px;
  width: 100%;

  .quote.symbol {
    display: none;
    opacity: 0.5;
  }

  &.favorite {
    .quote.symbol {
      display: inline-block;
    }
  }

  .logo.cell {
    min-width: 48px;
  }

  th.down:after {
    content: '';
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    margin-bottom: 2px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid black;
  }

  .content {
    position: relative;
    background: #FFFFFF;
    margin: 0 auto;
    max-width: 960px;
    padding: 16px 0;
    border: 1px solid #26A17B;
    border-radius: 4px;
  }

  .quote.logo {
    position: absolute;
    width: 64px;
    height: 64px;
    left: -32px;
    top: -32px;
  }

  .search {
    position: absolute;
    top: -32px;
    right: 0;
    width: 256px;

    i {
      position: absolute;
      font-size: 12px;
      left: 8px;
      top: 50%;
      transform: translateY(-50%);
      color: #26A17B;
    }

    input[type=text] {
      appearance: none;
      box-sizing: border-box;
      width: 100%;
      color: $color-main-foreground-light;
      border: 1px solid #26A17B;
      border-radius: 16px;
      font-family: $font-main-mono;
      font-size: 12px;
      font-weight: 100;
      line-height: 24px;
      padding: 0 8px 0 24px;
      outline: 0 none;
      box-shadow: none;
      background: transparent;

      &:focus {
        border-color: $color-main-highlight;
      }
    }
  }

  &.btc {
    .content {
      border: 1px solid #F7931B;
    }

    .search input {
      border: 1px solid #F7931B;
    }

    .search i {
      color: #F7931B;
    }
  }

  &.xin {
    .content {
      border: 1px solid #2995F2;
    }

    .search input {
      border: 1px solid #2995F2;
    }

    .search i {
      color: #2995F2;
    }
  }

  table {
    width: 100%;
    border-collapse: collapse;
    font-size: 16px;

    thead {
      display: table-header-group;
      vertical-align: middle;
    }

    tbody {
      display: table-row-group;
      vertical-align: middle;

      tr {
        cursor: pointer;

        &:hover {
          background: rgba(0,0,0,0.05);
        }
      }
    }

    th, td {
      text-align: right;
      padding: 16px 0;

      &:first-child,
      &:nth-child(2) {
        text-align: left;
      }
    }

    th {
      cursor: pointer;
      text-transform: uppercase;
      font-weight: 500;
    }

    tr {
      border-bottom: 1px solid rgba(0,0,0,0.05);

      &:last-child {
        border-bottom: none;
      }
    }

    thead {
      border-bottom: 1px solid rgba(0,0,0,0.05);
    }

    td {
      line-height: 20px;

      .sub {
        font-size: 90%;
        opacity: 0.3;
      }
    }

    td:first-child {
      padding-left: 32px;
    }

    th:last-child,
    td:last-child {
      padding-right: 32px;
    }

    .logo.cell img {
      width: 32px;
      height: 32px;
      padding-bottom: 4px;
      display: block;
    }

    .star.cell {
      i {
        display: block;
        padding-left: 8px;
        cursor: pointer;
      }
      &.true {
        i {
          color: #00b0e9;
        }
      }
    }

    .up.cell .main {
      color: $color-side-bid;
    }

    .down.cell .main {
      color: $color-side-ask;
    }
  }
}

@media (max-width: 1200px) {
  .markets.block {
    .quote.logo {
      width: 48px;
      height: 48px;
      left: 0;
      top: -32px;
    }
  }
}

@media (max-width: 768px) {
  .layout.header .overlay {
    padding: 128px 16px;
  }

  .layout.nav .overlay {
    padding: 8px 16px;
  }

  .markets.block {
    padding: 48px 16px;

    .quote.logo {
      width: 32px;
      height: 32px;
      left: 0;
      top: -36px;
    }


    table {
      font-size: 14px;

      .logo.cell {
        display: none;
      }

      th:nth-child(2),
      td:nth-child(2) {
        padding-left: 16px;
      }

      th:last-child,
      td:last-child {
        padding-right: 16px;
      }
    }
  }
}

@media (max-width: 640px) {
  .markets.block {
    padding: 48px 0;

    .quote.logo {
      width: 32px;
      height: 32px;
      left: 16px;
      top: -36px;
    }

    .search {
      right: 16px;
    }

    &.btc,
    &.usdt,
    &.xin {
      .content {
        border-left: none;
        border-right: none;
        border-radius: 0;
      }
    }

    table thead {
      font-size: 12px;
    }
  }
}

}
