@import '../constant.scss';

.market.layout {

.market.detail.spacer {
  visibility: hidden;
}

.market.detail.container {
  width: 100%;
  height: 100vh;
  background: $color-main-background;
  box-sizing: border-box;
  padding-top: 64px;

  &.fixed {
    position: fixed;
    top: 0px;
    z-index: -1;
  }

  &.visible {
    z-index: 1;
  }

  &.hidden {
    visibility: hidden;
  }
}

.header.container {
  width: 100%;
  height: 64px;
  border-bottom: 1px solid rgba(0,0,0,0.1);
  box-sizing: border-box;
  padding: 16px 32px;
  display: flex;

  .ticker {
    margin-right: 32px;
    line-height: 32px;
    font-size: 24px;

    .sub {
      font-size: 70%;
      opacity: 0.3;
    }
  }

  .up .main {
    color: $color-side-bid;
  }
}

.main.container {
  display: flex;
  height: calc(100%);
  box-sizing: border-box;
  overflow: hidden;
}

.charts.container {
  flex: 1;
  margin: 0 auto;
  height: calc(100% - 64px);
  border-right: 1px solid rgba(0,0,0,0.1);

  .price.chart {
    height: 50%;
  }

  .depth.chart {
    height: 50%;
  }

  .highcharts-point-up {
    fill: $color-side-bid;
    stroke: $color-side-bid;
  }

  .highcharts-point-down {
    fill: $color-side-ask;
    stroke: $color-side-ask;
  }
}

.order.book {
  width: 240px;
  height: calc(100% - 64px);
  position: relative;
  overflow: hidden;
  font-family: monospace;
  font-size: 14px;
  color: #555555;
  border-right: 1px solid rgba(0,0,0,0.1);
  box-sizing: border-box;

  .book.header {
    background: $color-main-background;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    font-family: $font-main-title;
    font-size: 12px;
    font-weight: 500;
    color: #AAAAAA;

    li {
      cursor: auto;

      &:hover {
        background: $color-main-background;
      }
    }
  }

  .book.data {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
  }

  ul {
    margin: 0;
    padding: 0;
  }

  li {
    list-style: none;
    margin: 0;
    padding: 0;
    cursor: pointer;
    line-height: 1.5em;
    display: flex;
    text-align: right;
    box-sizing: border-box;
    padding-right: 16px;

    div {
      flex: 1;
    }

    .num {
      opacity: 0.3;
    }

    &:hover {
      background: rgba(0,0,0,0.05);
    }

    &.spread {
      display: block;
      line-height: 2em;

      div {
        display: inline-block;
      }

      div:first-child {
        font-size: 18px;
      }
    }
  }

  .ask .price {
    color: $color-side-ask;
  }

  .bid .price {
    color: $color-side-bid;
  }
}

.trade.form {
  width: 320px;
  height: calc(100% - 64px);
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
  color: #555555;

  .tabs {
    display: flex;
    padding: 8px 16px;
    font-size: 14px;
  }

  .tab {
    flex: 1;
    width: 50%;
    box-sizing: border-box;
    text-align: center;
    text-transform: uppercase;
    padding: 8px 0;
    cursor: pointer;
  }

  .type.tab {
    border-bottom: 2px solid rgba(0,0,0,0.1);

    &.active {
      border-bottom: 2px solid $color-main-highlight;
    }
  }

  .side.tab {
    background: rgba(0,0,0,0.1);

    &.buy {
      border-radius: 4px 0 0 4px;

      &.active {
        background: $color-side-bid;
        color: $color-main-background;
      }
    }

    &.sell {
      border-radius: 0 4px 4px 0;

      &.active {
        background: $color-side-ask;
        color: $color-main-background;
      }
    }
  }

  .form {
    display: none;
    padding: 16px 16px;
    box-sizing: border-box;
    font-size: 16px;

    &.active {
      display: block;
    }

    .text.field {
      margin-bottom: 16px;
      border-bottom: 2px solid $color-main-highlight;
      display: flex;
    }

    .label {
      display: block;
      line-height: 48px;

      &.right {
        text-align: right;
      }
    }

    input[type="text"] {
      margin: auto;
      flex: 1;
      border: 0 none;
      outline: 0 none;
      line-height: 48px;
      font-family: monospace;
      text-align: right;
      display: block;
      box-sizing: border-box;
      padding: 0 8px;
      min-width: 0;
    }

    input[type="submit"] {
      border: 0 none;
      outline: 0 none;
      margin-top: 32px;
      line-height: 42px;
      display: block;
      width: 100%;
      box-sizing: border-box;
      border-radius: 4px;
      box-shadow: 0 0 2px rgba(0,0,0,0.1);
      color: $color-main-background;
      cursor: pointer;

      &.buy {
        background: $color-side-bid;
      }

      &.sell {
        background: $color-side-ask;
      }
    }
  }
}

@media (max-width: 1024px) {
  .market.detail.container {
    height: auto;
  }

  .header.container {
    .ticker {
      margin: 0;
      flex: 1;
    }
  }

  .main.container {
    flex-wrap: wrap;
    height: auto;
    margin: 0;
    padding: 0;
  }

  .charts.container {
    flex-basis: 100%;
    height: 512px;
  }

  .order.book,
  .trade.form {
    height: 512px;
    width: 50%;

    .form {
      font-size: 14px;
    }
  }
}

@media (max-width: 768px) {
  .header.container {
    padding: 14px 16px 10px;

    .ticker {
      line-height: 20px;
      font-size: 16px;
      text-align: center;

      span {
        display: block;
      }
    }
  }
}

}
