$font-main-content: 'Maven Pro', sans-serif;
$font-main-title: 'Roboto', sans-serif;
$font-main-mono: 'Roboto Mono', monospace;

$color-main-background: #FFFFFF;
$color-main-foreground-dark: #000000;
$color-main-foreground-light: #333333;
$color-main-highlight: #00B0E9;

$color-side-bid: #00B56E;
$color-side-bid-light: #127B57;
$color-side-ask: #E55541;
$color-side-ask-light: #824243;
