@import '../constant.scss';
@import  './asset.scss';
@import  './order.scss';

.account.layout {

.header {
  box-sizing: border-box;
  width: 100%;
  height: 96px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  position: relative;
  text-align: center;

  .nav {
    display: inline-block;
    font-size: 32px;
    font-weight: 300;
    line-height: 96px;
    color: $color-main-foreground-dark;
    font-family: $font-main-title;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    &.back {
      left: 24px;
      color: $color-main-foreground-light;
    }

    &.power,
    &.support {
      right: 24px;
      color: $color-main-foreground-light;
    }

    &:hover {
      color: $color-main-highlight;
    }
  }

  .title {
    font-family: $font-main-title;
    display: inline-block;
    font-size: 24px;
    font-weight: 300;
    line-height: 96px;
    margin: 0;
    padding: 0;
  }
}

.content {
  width: 100%;
  box-sizing: border-box;
  margin: 0 auto 64px;
  padding: 32px 24px;
  text-align: center;
}

.notice.twofa {
  text-align: left;
  max-width: 640px;
  margin: 0 auto 24px;
  background: rgba(238,238,238,0.6);
  box-sizing: border-box;
  padding: 12px;
  h4 {
    font-size: 18px;
    font-weight: normal;
    margin: 0 0 16px;
  }
  a {
    color: $color-main-foreground-light;
    text-decoration: underline;
    &:hover {
      color: $color-main-highlight;
    }
  }
}

.form.container {
  max-width: 400px;
  margin: 0 auto;

  .iti {
    width: 100%;
  }
}

.tabs {
  background: $color-main-background;
  display: flex;
  font-size: 14px;
  line-height: 32px;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 48px;
}

.tab {
  flex: 1;
  width: 50%;
  box-sizing: border-box;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  border-bottom: 2px solid rgba(0,0,0,0.1);
  color: $color-main-foreground-light;

  &.active {
    border-bottom: 2px solid $color-main-highlight;
  }
}

#enroll-email-form {
  display: none;
}

.field {
  margin: 32px 0;
}

.link.field a {
  color: $color-main-foreground-light;
  text-decoration: underline;
}

h2 {
  font-size: 20px;
  font-weight: 300;
  margin: 32px 0;
}

label {
  font-size: 16px;
  font-weight: 300;
  margin: 16px 0;
  text-align: left;
  display: block;
}

.intl-tel-input {
  width: 100%;
}

input[type="password"],
input[type="text"],
input[type="number"],
input[type="tel"],
input[type="email"] {
  border: 0 none;
  outline: 0 none;
  border-radius: 0;
  border-bottom: 1px solid $color-main-foreground-light;
  padding-top: 8px;
  padding-bottom: 8px;
  letter-spacing: 4px;
  width: 100%;

  &:focus {
    border-color: $color-main-highlight;
  }
}

input[type="text"],
input[type="number"] {
  text-align: center;
  letter-spacing: 16px;
  font-size: 32px;
}

input[type="text"] {
  letter-spacing: normal;
  font-size: 18px;
}

input[type="submit"],
.submit-loader {
  display: inline-block;
  margin-top: 16px;
  outline: 0 none;
  border: 0 none;
  border-radius: 2px;
  padding: 12px 32px;
  background-color: $color-main-highlight;
  color: $color-main-background;
  font-weight: 300;
  cursor: pointer;
  box-sizing: border-box;
  width: 100%;
}

.submit-loader {
  position: relative;
  display: none;
  cursor: wait;
  background-color: $color-main-background;
  margin-top: 64px;

  .spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70px;
    padding-top: 4px;
    text-align: center;
  }

  .spinner > div {
    width: 12px;
    height: 12px;
    background-color: $color-main-highlight;
    border-radius: 100%;
    display: inline-block;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  }

  .spinner .bounce1 {
    animation-delay: -0.32s;
  }

  .spinner .bounce2 {
    animation-delay: -0.16s;
  }

  @keyframes sk-bouncedelay {
    0%, 80%, 100% {
      transform: scale(0);
    } 40% {
      transform: scale(1.0);
    }
  }
}

}
